@charset "utf-8";

body {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: break-all;
  overflow-wrap: break-word;
}

img {
  width: 100%;
}

.lower-case {
  text-transform: lowercase;
}

.flex {
  display: flex;
}