@charset "utf-8";

/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url(./common.css);
@import url(./variable.css);
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}

/****** header ********/
header {
  position: fixed;
  width: 100%;
  background-color: #f6eedfcb;
  z-index: 1000;
}

header .header-wrapper {
  align-items: center;
  max-width: 1800px;
  width: 96%;
  height: 82px;
  margin: 0 auto;
}
header .header-wrapper h1 {
  background: url(./images/logo.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 202px;
  height: 49px;
}

header menu {
  justify-content: space-between;
  gap: 50px;
  font-weight: 700;
  margin-left: 80px;
  color: var(--brown-color);
}

header menu li:hover {
  color: rgb(152, 21, 21);
  font-weight: 700;
}
/****** nav-bar ******/
.nav-bar {
  flex-direction: column;
  width: 100px;
  height: 590px;
  background-color: var(--brown-color);
  text-align: center;
  color: #fff;
  justify-content: space-evenly;
  border-radius: 50px;
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 999;
}

.nav-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.nav-item:nth-child(2) img {
  width: 40px;
  height: 30px;
}

.nav-item:nth-child(5) img {
  width: 30px;
  height: 32px;
}

/****** main1 ********/

.main1 {
  width: 100%;
  height: 100vh;
  background: url(./images/main1.jpg) no-repeat 100% / cover;
  position: relative;
}

.main1::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #f0bf77a8;
  position: absolute;
  bottom: 30px;
  right: 53%;
}

.main1::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  right: 50%;
}

.main1 .maintxt {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.main1 h1 {
  font-size: 3.5rem; /*56*/
  font-weight: 700;
}

.main .maintxt p {
  margin: 50px;
  font-size: 1.5rem; /*24*/
}

.navbar {
  position: absolute;
  top: 35%;
  left: 30px;
}

.navrbar li {
  position: relative;
}
.navbar li a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  top: 10px;
}

/****** intro1 ********/
.intro1 {
  width: 100%;
  height: 100vh;
  background: url(./images/rodion-kutsaiev-6W8H4puOJB0-unsplash\ 1.png)
    no-repeat 50% / cover;
  min-width: 1500px;
}

.intro1 h1 {
  font-size: 3.438em; /*55*/
  font-weight: 700;
  position: relative;
  top: 12.5rem;
  left: 12.5rem;
  color: var(--brown-color);
}

.intro1 .right-txt {
  text-align: right;
  position: relative;
  top: 20rem;
  right: 12.5rem;
  color: var(--brown-color);
}

.intro1 .right-txt h2 {
  font-size: 2.5rem;
}

.intro1 .right-txt p {
  font-size: 1.125rem;
  margin: 50px 0;
  font-weight: 100;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 5s;
  font-size: 13.75em;
  font-weight: bold;
  color: #f6eedf6e;
  z-index: -1;
}

.flow-wrap {
  animation: textLoop 23s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/****** intro2 ********/
.intro2 {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
}

.wrapper-box2 {
  width: 100%;
  flex-wrap: wrap;
}

.wrapper-box2 .img-box2 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.wrapper-box2 .img-box2:nth-child(1) {
  background: url(./images/main3-1.png) no-repeat 50% / cover;
}

.wrapper-box2 .img-box2:nth-child(2) {
  background: url(./images/main3-2.png) no-repeat 50% / cover;
}

.wrapper-box2 .img-box2:nth-child(3) {
  background: url(./images/main3-3.png) no-repeat 50% / cover;
}
.wrapper-box2 .img-box2:nth-child(4) {
  background: url(./images/main3-4.png) no-repeat 50% / cover;
}

.wrapper-box2 .img-box2 .txt-box2 {
  text-align: center;
  position: relative;
  letter-spacing: 0.8px;
}

.wrapper-box2 .img-box2 .txt-box2 h3 {
  font-size: 1.125rem; /*18px*/
}

.wrapper-box2 .img-box2 .txt-box2 h2 {
  font-size: 2.25rem; /*36px*/
  color: #fff;
  font-weight: 600;
}

.img-box2 {
  position: relative;
}
.moreevent {
  background-color: #f6eedf;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.moreevent h3 {
  margin-bottom: 50px;
  font-size: 1.125rem;
}

.moreevent h2 {
  font-size: 2.25rem; /*36px*/
  font-weight: 600;
  margin-bottom: 40px;
}

.img-box2:hover .moreevent {
  opacity: 1;
  color: var(--brown-color);
  text-align: center;
}

.moreevent a {
  border: 2px solid #332525;
  width: 157px;
  height: 51px;
  line-height: 51px;
  border-radius: 30px;
  display: block;
  text-align: center;
}

.moreevent a:hover {
  background-color: #332525;
  color: #fff;
}

/****** intro3 ********/

.intro3 {
  width: 100%;
  height: 100vh;
  background: url(./images/main4.png) no-repeat 50% / cover;
}

.img3 {
  gap: 55px;
  justify-content: center;
}

.wrapper-box3 {
  width: 80%;
  height: 545px;
  margin: 0 auto;
}

.intro3 h1 {
  padding-top: 180px;
  padding-bottom: 70px;
  margin-left: 10%;
}

.intro3 h1 {
  font-size: 2.938rem;
  font-weight: 600;
  padding-top: 150px;
  padding-bottom: 70px;
  color: var(--brown-color);
}

.img3 {
  width: 100%;
}

.img-box3 {
  width: 100%;
}

.intro3 img {
  /* width: 29.375rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box3 li a {
  background-color: #5c3d2c;
  border-radius: 50%;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box3 li a svg {
  width: 50%;
  fill: #fff;
}
.img-box3 li {
  transition: 0.3s;
}
.img-box3 li a:hover {
  background-color: #5c3d2c98;
}

.icon-left,
.icon-right {
  z-index: 99;
}

.lefticon {
  position: relative;
}

.icon-left {
  position: absolute;
  top: 50%;
  left: -7%;
}

.righticon {
  position: relative;
}

.icon-right {
  position: absolute;
  top: 50%;
  right: -7%;
}

.img-box3 {
  position: relative;
}

.text-box {
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box h3 {
  font-size: 1.875rem;
  margin-bottom: 50px;
}

.img-box3:hover .text-box {
  opacity: 0.5;
  color: #fff;
  text-align: center;
}

/****** intro4 ********/
.intro4 {
  width: 100%;
  height: 100vh;
  background: url(./images/main4.jpg) no-repeat 50% / cover;
  color: var(--brown-color);
}

.intro4 .text-box4 h1 {
  font-size: 2.938rem;
  font-weight: 600;
  padding-top: 150px;
  padding-bottom: 70px;
  margin-left: 10%;
}

.intro4 .wrapper-box4 {
  width: 80%;
  height: 430px;
  background-color: #ffffff81;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.intro4 .wrapper-box4 .box4 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro4 .wrapper-box4 .box4 .txt4 {
  width: 80%;
}
.intro4 .wrapper-box4 .box4 .txt4 h2 {
  font-size: 32px;
  padding-bottom: 35px;
  padding-top: 85px;
}
.intro4 .wrapper-box4 .box4 .txt4 p {
  font-size: 18px;
  padding-bottom: 220px;
}

.box4:hover {
  background-color: #633e1c86;
  color: #fff;
}

/****** intro5 ********/
.intro5 {
  width: 100%;
  height: 100vh;
  background: url(./images/Frame\ 1.png) no-repeat 50% / cover;
  position: relative;
}

.intro5 .text-box5 {
  padding-top: 180px;
  padding-bottom: 70px;
  margin-left: 10%;
}
.intro5 .text-box5 h1 {
  font-size: 47px;
  font-weight: 600;
  color: var(--brown-color);
}
.intro5 .text-box5 p {
  font-size: 18px;
  color: var(--brown-color);
}

.wrapper-you {
  width: 80%;
  margin: 0 auto;
  gap: 30px;
}
/****** intro6 ********/
.intro6 {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  color: var(--brown-color);
}

.intro6::before {
  content: "";
  background: url(./images/main6.jpg) no-repeat 50% / cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.intro6 .intro6txt {
  position: relative;
}
.intro6 .intro6txt h1 {
  font-size: 47px;
  font-weight: 600;
  padding-top: 265px;
  padding-bottom: 23px;
}
.intro6 .intro6txt p {
  padding-bottom: 60px;
}
.intro-list {
  width: 70%;
  margin: 0 auto;
}
.intro-list li {
  border-right: 1px solid #000;
  width: 50%;
  height: 250px;
  max-width: 1600px;
  padding: 80px 0 20px;
  background: no-repeat 50% 5%;
  position: relative;
}
.intro-list li:first-child {
  background-image: url(./images/clock.png);
}
.intro-list li:nth-child(2) {
  background-image: url(./images/call.png);
}
.intro-list li:nth-child(3) {
  background-image: url(./images/address.png);
  border-right: none;
}

.intro-list li h3 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 40px;
}
/****** intro7 ********/
.intro7 {
  width: 100%;
  height: 100vh;
  background-color: #d29f7036;
}

.intro7 .intro7txt {
  padding-top: 180px;
  padding-bottom: 70px;
  margin-left: 10%;
  font-size: 47px;
}

.wrapper-box7 {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.Gallery img {
  width: 100%;
  height: 249px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wrapper-box7 h3 {
  font-size: 28px;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.News,
.Gallery {
  width: 45%;
}

.notice-list li {
  padding: 20px;
  border-bottom: 2px solid #666;
}

.notice-list li:hover {
  color: rgb(180, 68, 68);
}

.imgbox {
  gap: 15px;
}
.intro7txt h1 {
  position: relative;
}
.intro7txt h1::after {
  content: "";
  width: 114px;
  height: 14px;
  display: inline-block;
  position: absolute;
  background-color: #633e1c5b;
  bottom: 5px;
  left: -6px;
}

.zaksim1 {
  color: rgb(180, 68, 68);
}
/****** intro8 ********/
.intro8 {
  width: 100%;
  height: 100vh;
  background: url(./images/main8.jpg) no-repeat 50% / cover;
  color: var(--brown-color);
}

.triple {
  justify-content: space-between;
  font-size: 18px;
}

.txt-box8 h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
}

.intro8 .txt-box8 {
  padding-top: 265px;
  padding-bottom: 70px;
  margin-left: 10%;
  display: inline-block;
}

.txt-box8-2 {
  width: 50%;
  margin-right: 10%;
  margin-top: 265px;
  position: relative;
  top: -480px;
  right: -40%;
}

.triple-1 {
  width: 30%;
}

.triple-1 input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid black;
}

.two {
  font-size: 18px;
  margin-top: 30px;
}

.two-text input {
  width: 100%;
  height: 200px;
  background: transparent;
  border: 1px solid black;
}

button {
  font-size: 18px;
  width: 100%;
  height: 56px;
  margin-top: 25px;
  background-color: var(--brown-color);
  color: #fff;
  border: 1px solid var(--brown-color);
  transition: 0.3s;
}

button:hover {
  border-radius: 30px;
}
/****** footer ********/
footer {
  width: 100%;
  height: 165px;
  background-color: var(--brown-color);
  color: #fff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .last {
  padding-top: 20px;
}
