@charset "utf-8";

/* 변수 선언 */
:root {
  /* --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-17: 1.063rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.250em;
  --font-size-38: 2.375em;
  --font-size-count: 4.125rem;
  --font-size-title: 2.875rem;
  --point-color:orange;
  */
  --brown-color:#351F1F;
}